body {
    /* Full Page */
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(1,51,105);
    color: rgb(255,255,255)
}
.btn:hover {
    cursor: pointer;
  }
  
  /* #start {
    height: 90vh;
    font-family: 'Bungee', cursive;
    color: #ce29f7;
    position: relative;
  }
  
  #title {
    font-size: 8rem;
    perspective: 600px;
  }
  
  #title > p {
    transform: rotateX( 45deg );
    line-height: 0.75;
    text-align: center;
    color: #610079;
  }
  
  #start.playing {
    margin-top: -90vh;
    transition: margin-top 1s;
  }
  
  #start.playing + #game {
    display: flex;
  } */

h1 { 
    /* Memory Cards */
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p{
    /* Score */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.actions {
    /* Actions Div */
    display: flex;
    justify-content: center;
}

.actions button {
    /* Restart Button */
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 40px;
    background-color: rgb(213,10,10);
    color: white;
}

.grid-container {
    /* card grid */
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(4, calc(75px / 2 * 3));
}

.card {
    /* card itself(img side?) */
    height: calc(75px / 2 * 3);
    width: 75px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

/* unknown territory */
.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    /* card invisible to user when not flipped */
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front{
   
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: black;

}

.card .back {
    /* adding img to back of card */
    /* maybe need to add a border or add background color to seperate img from body background */
    background-image: url(/nflimg/nfllogo.png);
    background-position: center center;
    background-size: contain;
    backface-visibility: hidden;
}
/* original end */
/* #current-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Bungee', cursive;
    color: #ce29f7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #end {
    display: none;
  }
  
  #end.game-over {
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;
    font-family: 'Bungee', cursive;
    text-align: center;
  }
  
  #end h1 {
    font-size: 8rem;
  }
  
  #end h4 {
    font-size: 3rem;
  }
  
  @media (max-width: 992px) {
    .game-card-wrapper {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  
  @media (max-width: 992px) {
    .game-card-wrapper {
      width: 120%;
      padding-bottom: 120%;
    }
  } */
