html, body {
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  :focus {
    /* change color to match color of #fruit text */
      outline: black auto 2px;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(.75turn,#09203f, 10%, #537895);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    border: 0 none;
    border-bottom: 2px solid orange;
  }
  
  .search-container {
    /* width: 400px; */
    width: 75vmin;
    position: relative;
  }
  
  #fruit {
    padding: 25px 15px;
    width: calc(100% - 30px);
    border-radius: 2px;
    border: none;
    background: linear-gradient(.75turn,orange, 60%, yellow);
    font-size: 18px;
    /* font-weight: bold; */
    color: brown;
      /* pick a text color */
    /* color: #537895;
    color: #09203f; */
  }
  
  #fruit::placeholder {
    /* color: #537895; */
    color: #09203f;
    /* color: brown; */
  }
  
  .suggestions {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(fromRight,orange, 60%, yellow); 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    width: calc(100% - 30px);
    max-height: 200px;
    overflow-y: auto;
  }
  
  .has-suggestions {
    display: block;
    list-style-type: none;
    background: linear-gradient(fromRight,orange, 60%, yellow);
    color: #09203f;
    /* color: #537895;
    color: brown; */
    padding: 10px;
    width: calc(100% - 30px);
    font-weight: bold;
    cursor: pointer;
  }
  
  li:hover {
    background-color: orange;
  }
  
  